section#step-1 div:not(#step-1-form) {
	min-width: 30%;
}

section#step-1 div#step-1-form {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

section#step-1 div#step-1-form label {
	font-size: 0.8em;	
}

section#step-1 div#step-1-form input {
	width: calc(100% - 1em - 2px);
}

section#step-1 p {
	text-align: center;
	font-size: 0.8em;
}

/* general list styling */
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* options in lists */
li[onclick] {
	margin: 0.5em 0;
	padding: 0.5em;

	border: 1px solid #000;
	background-color: #fff;
	cursor: pointer;
}

li[onclick]:hover {
	border: 1px solid #00f;
}

/* section strips */
section#step-1-strip, section#step-2-strip {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

section#step-1-strip span#departure-station-name {
	font-weight: bold;
}

section#step-2-strip span#service-name {
	font-weight: bold;
	border: 1px solid #000;
	padding: 0.2em;
}

section#step-2-strip span#service-time {
	font-weight: bold;
}

section#step-2-strip span#service-via {
	font-style: italic;
}


/* departure board specific */
li.service {
	padding: 1em 0.5em;
}

li.service.cancelled {
	background-color: #faa;
}

span.service-name {
	font-weight: bold;
	border: 1px solid #000;
	padding: 0.2em;

	display: inline-block;
	min-width: 6em;
	text-align: center;
}

span.service-time {
	font-weight: bold;
}

span.service-track {
	min-width: 5em;
}

span.service-dest {
	float: right;
	display: block;
	min-width: 50%;
	text-align: center;
}

footer {
	margin-top: 5em;
}

/* mobile rules */
@media screen and (max-width: 720px) {
	div#step-1-form {
		display: block !important;
		font-size: 1.5em;
	}

	section#step-1 p {
		font-size: 1em;
		margin-top: 2em;
	}

	ul#station-list {
		margin-top: 2em;
	}

	ol#service-list {
		text-align: center;
	}

	ol#service-list li span {
		min-width: none !important;
	}

	ol#service-list li span.service-dest {
		display: block;
		float: none;
		margin-top: 1em;
	}

	section#step-2-strip {
		display: block !important;
	}

	section#step-2-strip span:not(.emoji-icon) {
  		width: 100%;
  		display: block;
	}

	section#step-2-strip span#service-time {
		text-align: center;
		margin-top: 1em;
	}

	footer {
		text-align: center;
	}

	footer p {
		margin: 2em 0;
	}

	footer span.emoji-icon {
		display: block;
		width: 100%;
		text-align: center;
	}
}